# ---------- 选择烧录器 ----------
<<<<<<< HEAD
# source [find interface/stlink.cfg]
source [find interface/cmsis-dap.cfg]

# ---------- 选择芯片型号 ----------
source [find target/stm32f4x.cfg]
# source [find target/stm32H7x.cfg]
=======
 #source [find interface/stlink.cfg]
  source [find interface/cmsis-dap.cfg]

# ---------- 选择芯片型号 ----------
# source [find target/stm32f4x.cfg]
  source [find target/stm32H7x.cfg]
>>>>>>> d91bea0c0f5e8ddbf24529e033009232037ee4cc
